
body {
    background-color: black;
    color: #555555;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
h1 {
    color: red;
}
