@model CW12.Models.Patients
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>
<form method="post" action="/patients/Create">
    <div class="row">
        <div class="input-field col s6">
            <label> Imie</label>
            @Html.EditorFor(d => d.FirstName);
            <span>@Html.ValidationMessageFor(d => d.FirstName)</span>
        </div>
        <div class="input=field col s6">
            <label> Nazwisko</label>
            @Html.EditorFor(d => d.LastName);
            <span>@Html.ValidationMessageFor(d => d.LastName)</span>
        </div>
    </div>
    <input type="submit" value="Wyslij" class="btn" />

</form>

