
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>
<form method="post" action="/patients/Create">
    <div class="row">
        <div class="input-field col s6">
            <label> Imie</label>
            <input name="FirstName" type="text" />
        </div>
        <div class="input=field col s6">
            <label> Nazwisko</label>
            <input name="LastName" type="text" />
        </div>
    </div>
    <input type="submit" value="Wyslij" class="btn" />

</form>

