@model CW12.Models.Patients
@{
    ViewData["Title"] = "GetDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <table>
        <tr>
            <td>ID Pacjenta</td>
            <td>@Model.IdPatient</td>
        </tr>
        <tr>
            <td>Imie Pacjenta</td>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <td>Nazwisko Pacjenta</td>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <td>Data narodzin Pacjenta</td>
            <td>@Model.BirthDate</td>
        </tr>
    </table>
<ul>
    <table>
        <thead>
            <tr>
                <th>Pacjent</th>
                <th>Lekarz</th>
                <th>Akcje</th>
            </tr>
        </thead>
    </table>
</ul>

